.heading{
    display: flex;
    flex-direction: column;
    margin-top: 4rem !important;
    margin-left: 14.5rem !important;
}

.songBox{
    display: flex;
    flex-direction: column;
    margin-top: 2rem !important;
    margin-left: 14.5rem !important;   
    padding-bottom: 4px !important;
}

.songHead{
    padding-top: 2rem;
    padding-bottom: 1rem;

}

