.head{
    display: flex;
    flex-direction: column;
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
}

.albumBox{
    display: flex;
    flex-direction: column;
    margin-top: 2rem !important;
    margin-left: 14.5rem !important;   
    padding-bottom: 4px !important;   
}