.displayedSongs{
    margin-left: 400px;
}

.heading{
    display: flex;
    flex-direction: column;
    margin-top: 4rem !important;
    margin-left: 14.5rem !important;
}

.playlistBox{
    display: flex;
    flex-direction: column;
    margin-top: 2rem !important;
    margin-left: 14.5rem !important;   
    padding-bottom: 4px !important;
}

.playlistHead{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.playlistGrid{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    
}
